<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Restored Target">
<locations>
<location id="hu.cubussapiens.debugvisualisation.build" path="${workspace_loc}" type="Feature"/>
</locations>
<environment>
<os>*</os>
<ws>*</ws>
<arch>*</arch>
<nl>*</nl>
</environment>
</target>
