<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="hu.cubussapiens.debugvisualisation.filterproviders">
      <variablefilterprovider
            class="hu.cubussapiens.debugvisualisation.filters.java.VariableFilterProvider">
      </variablefilterprovider>
   </extension>

</plugin>
