<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="hu.gbalage.debugvisualisation"
         name="Debug Visualisation"
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="hu.gbalage.debugvisualisation.DebugVisualisation"
            icon="icons/sample.gif"
            id="hu.gbalage.debugvisualisation.DebugVisualisation"
            name="Debug Visualisation">
      </view>
   </extension>

</plugin>
