<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="hu.cubussapiens.debugvisualisation.views.DebugVisualisationView"
            icon="icons/icon.png"
            id="hu.cubussapiens.debugvisualisation.views.DebugVisualisationView"
            name="Debug Visualisation View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="hu.cubussapiens.debugvisualisation.category"
            name="Debug Visualisation">
      </category>
      <command
            id="hu.cubussapiens.debugvisualisation.availablelogicalstructures"
            name="&amp;Show Structure As">
         <commandParameter
               id="hu.cubussapiens.debugvisualisation.logicalstructure"
               name="structureid"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="hu.cubussapiens.debugvisualisation.category"
            id="hu.cubussapiens.debugvisualisation.visualisevariable"
            name="Add Variable to Visualisation">
      </command>
      <command
            categoryId="hu.cubussapiens.debugvisualisation.category"
            id="hu.cubussapiens.debugvisualisation.command.clear"
            name="Clear visualization">
      </command>
      <command
            categoryId="hu.cubussapiens.debugvisualisation.category"
            id="hu.cubussapiens.debugvisualisation.togglenameprocess"
            name="Trim long names">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="hu.cubussapiens.debugvisualisation.category"
            id="hu.cubussapiens.debugvisualisation.hidenodechildren"
            name="Hide node (with children)">
      </command>
      <command
            id="hu.cubussapiens.debugvisualisation.filterprimitivetypes"
            name="Filter primitive types">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="hu.cubussapiens.debugvisualisation.filterundefined"
            name="Filter undefined values">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.VisualiseVariableHandler"
            commandId="hu.cubussapiens.debugvisualisation.visualisevariable">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.debug.core.model.IVariable">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.AvailableStructureHandler"
            commandId="hu.cubussapiens.debugvisualisation.availablelogicalstructures">
      </handler>
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.HideNodeHandler"
            commandId="org.eclipse.ui.edit.delete">
      </handler>
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.ClearVisualizationHandler"
            commandId="hu.cubussapiens.debugvisualisation.command.clear">
      </handler>
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.ToggleTrimHandler"
            commandId="hu.cubussapiens.debugvisualisation.togglenameprocess">
      </handler>
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.HideNodeChildrenHandler"
            commandId="hu.cubussapiens.debugvisualisation.hidenodechildren">
      </handler>
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.filters.FilterPrimitiveTypesHandler"
            commandId="hu.cubussapiens.debugvisualisation.filterprimitivetypes">
      </handler>
      <handler
            class="hu.cubussapiens.debugvisualisation.views.handlers.filters.FilterUndefinedValuesHandler"
            commandId="hu.cubussapiens.debugvisualisation.filterundefined">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:hu.cubussapiens.debugvisualisation.views.DebugVisualisationView">
         <command
               commandId="hu.cubussapiens.debugvisualisation.togglenameprocess"
               style="toggle">
         </command>
         <command
               commandId="hu.cubussapiens.debugvisualisation.filterprimitivetypes"
               style="toggle">
         </command>
         <command
               commandId="hu.cubussapiens.debugvisualisation.filterundefined"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:hu.cubussapiens.debugvisualisation.views.DebugVisualisationView">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Hide selection"
               style="push"
               tooltip="Hide selected nodes">
         </command>
         <command
               commandId="hu.cubussapiens.debugvisualisation.hidenodechildren"
               label="Hide selection (with children)"
               style="push">
         </command>
         <command
               commandId="hu.cubussapiens.debugvisualisation.command.clear"
               label="Clear visualization"
               style="push"
               tooltip="Remove all nodes from visualization">
         </command>
         <menu
               label="Show Structure As">
            <dynamic
                  class="hu.cubussapiens.debugvisualisation.views.actions.AvailableStructures"
                  id="hu.cubussapiens.debugvisualisation.dynamic1">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                  </with>
                  <with
                        variable="selection">
                    <iterate>
                        <instanceof
                              value="hu.cubussapiens.debugvisualisation.viewmodel.IDVValue">
                        </instanceof>
                        <test
                              property="hu.cubussapiens.debugvisualisation.logicalstructure">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.debug.ui.VariableView">
         <command
               commandId="hu.cubussapiens.debugvisualisation.visualisevariable"
               label="Add Variable to Visualisation"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:hu.cubussapiens.debugvisualisation.views.DebugVisualisationView">
         <command
               commandId="hu.cubussapiens.debugvisualisation.command.clear"
               icon="IMG_ELCL_REMOVEALL"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="hu.cubussapiens.debugvisualisation.viewmodel.util.LogicalStructuresTester"
            id="hu.cubussapiens.debugvisualisation.structureavailable"
            namespace="hu.cubussapiens.debugvisualisation"
            properties="logicalstructure"
            type="hu.cubussapiens.debugvisualisation.viewmodel.IDVValue">
      </propertyTester>
   </extension>

</plugin>
