<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hu.cubussapiens.debugvisualisation.filterproviders" name="Filter providers for the debug visualisation plugin" schema="schema/hu.cubussapiens.debugvisualisation.filterproviders.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="hu.cubussapiens.debugvisualisation.views.DebugVisualisationView"
            icon="icons/icon.png"
            id="hu.cubussapiens.debugvisualisation.views.DebugVisualisationView"
            name="Debug Visualisation View">
      </view>
   </extension>

</plugin>
