<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="hu.gbalage.debugvisualisation.filters">
      <filter
            filter="hu.gbalage.debugvisualisation.filters.HashMapFilter"
            id="hu.gbalage.debugvisualisation.filters.filter1"
            name="HashMap Filter"
            use_on="java.util.HashMap&lt;K,V&gt;">
      </filter>
      <filter
            filter="hu.gbalage.debugvisualisation.filters.HashMapEntryFilter"
            id="hu.gbalage.debugvisualisation.filters.filter2"
            name="Map Entry filter"
            use_on="java.util.HashMap$Entry&lt;K,V&gt;">
      </filter>
      <filter
            filter="hu.gbalage.debugvisualisation.filters.PrimitiveTypeFilter"
            id="hu.gbalage.debugvisualisation.filters.filter3"
            name="Float"
            use_on="java.lang.Float">
      </filter>
      <filter
            filter="hu.gbalage.debugvisualisation.filters.ArrayListFilter"
            id="hu.gbalage.debugvisualisation.filters.filter4"
            name="ArrayList Filter"
            use_on="java.util.ArrayList&lt;E&gt;">
      </filter>
      <filter
            filter="hu.gbalage.debugvisualisation.filters.PrimitiveTypeFilter"
            id="hu.gbalage.debugvisualisation.filters.filter5"
            name="Integer"
            use_on="java.lang.Integer">
      </filter>
   </extension>

</plugin>
