<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="hu.gbalage.debugvisualisation.layoutalgorithm" name="Debug visualisation Layout algorithm" schema="schema/hu.gbalage.debugvisualisation.layoutalgorithm.exsd"/>
   <extension-point id="hu.gbalage.debugvisualisation.filters" name="Variable Filters" schema="schema/hu.gbalage.debugvisualisation.filters.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="hu.gbalage.debugvisualisation.DebugVisualisation"
            icon="icons/sample.gif"
            id="hu.gbalage.debugvisualisation.view1"
            name="Debug Visualisation"
            restorable="true">
      </view>
   </extension>
   <extension
         id="hu.gbalage.debugvisualisation.layouts.builtin"
         name="Builtin Layouts"
         point="hu.gbalage.debugvisualisation.layoutalgorithm">
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.TreeLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout.treelayout"
            name="Tree Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.SpringLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm1"
            name="Spring Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.DirectedGraphLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm2"
            name="Directed Graph Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.GridLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm3"
            name="Grid Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.HorizontalLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm4"
            name="Horizontal Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.HorizontalTreeLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm5"
            name="Horizontal Tree Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.RadialLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm6"
            name="Radial Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.VerticalLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm7"
            name="Vertical Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.extensions.layouts.SimulatedCoolingCreator"
            id="hu.gbalage.debugvisualisation.simulatedcooling"
            name="Simulated Cooling Layout">
      </layout_algorithm>
   </extension>

</plugin>
