<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="hu.gbalage.debugvisualisation.layoutalgorithm" name="Debug visualisation Layout algorithm" schema="schema/hu.gbalage.debugvisualisation.layoutalgorithm.exsd"/>
   <extension-point id="hu.gbalage.debugvisualisation.filters" name="Variable Filters" schema="schema/hu.gbalage.debugvisualisation.filters.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="hu.gbalage.debugvisualisation.DebugVisualisation"
            icon="icons/sample.gif"
            id="hu.gbalage.debugvisualisation.view1"
            name="Debug Visualisation"
            restorable="true">
      </view>
   </extension>
   <extension
         id="hu.gbalage.debugvisualisation.layouts.builtin"
         name="Builtin Layouts"
         point="hu.gbalage.debugvisualisation.layoutalgorithm">
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.layouts.TreeLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout.treelayout"
            name="Tree Layout">
      </layout_algorithm>
      <layout_algorithm
            class="hu.gbalage.debugvisualisation.layouts.SpringLayoutCreator"
            id="hu.gbalage.debugvisualisation.layout_algorithm1"
            name="Spring Layout">
      </layout_algorithm>
   </extension>
   <extension
         id="hu.gbalage.debugvisualisation.simplefilters"
         name="Basic filters"
         point="hu.gbalage.debugvisualisation.filters">
      <filter
            filter="hu.gbalage.debugvisualisation.filters.IntegerFilter"
            id="hu.gbalage.debugvisualisation.filters.IntegerFilter"
            name="IntegerFilter"
            use_on="java.lang.Integer">
      </filter>
      <filter
            filter="hu.gbalage.debugvisualisation.filters.ArrayListFilter"
            id="hu.gbalage.debugvisualisation.arraylistfilter"
            name="ArrayListFilter"
            use_on="java.util.ArrayList&lt;E&gt;">
      </filter>
   </extension>

</plugin>
